    <style>
        .spinner-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }
        .spinner {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            transition: transform 1s linear;
            animation: none;
        }
        spinner.rotate {
            transform: rotate(360deg);
        }
    </style>

        <div id="uploadContainer">
            <div class="row row-mb-4">
                <div class="col-md-2">
                    <label for="importFile" class="form-label">Upload Excel File</label>
                </div>
                <div class="col-md-4">
                    <input name="importFile" id="importFile" type="file" class="form-control" />
                </div>
                <div class="col-md-2">
                    <button id="uploadButton" class="btn btn-primary">Post</button>
                </div>
            </div>
        </div>

        <div id="loadingSpinner" class="spinner-container">
            <div class="spinner"></div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
       $(document).ready(function () {
        $("#uploadButton").on("click", function (event) {
            event.preventDefault();
   
          
            var files = $("#importFile").get(0).files;
            if (files.length === 0) {
                alert("Please select an Excel file");
              
                return;
            }
            var formData = new FormData();
            formData.append('importFile', files[0]);

            $.ajax({
                url: '@Url.Action("SubmitOrder", "Excel")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.result === 1) {
                      // Hide spinner on success
                        alert("Vouchers Posted Successfully");
                    } else {
                       // Hide spinner on failure
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    hideLoadingAnimation(); // Hide spinner on error
                    alert("Error: " + error);
                }
            });
        });
    });
           
 </script>

   
